.section-template--22795098816848__main-padding {
  padding-top: 27px;
  padding-bottom: 9px;
}

@media screen and (min-width: 750px) {
  .section-template--22795098816848__main-padding {
    padding-top: 36px;
    padding-bottom: 12px;
  }
}


.section-template--22795098816848__related-products-padding {
  padding-top: 27px;
  padding-bottom: 21px;
}

@media screen and (min-width: 750px) {
  .section-template--22795098816848__related-products-padding {
    padding-top: 36px;
    padding-bottom: 28px;
  }
}




.shopify-payment-button__button--hidden {
  visibility: hidden;
}

.shopify-payment-button__button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 0 transparent;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--unbranded {
  background-color: #1990c6;
  padding: 1em 2em;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: #136f99;
}

.shopify-payment-button__more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.shopify-payment-button__more-options:hover:not([disabled]) {
  text-decoration: underline;
}

.shopify-payment-button__more-options[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--branded {
  display: flex;
  flex-direction: column;
  min-height: 44px;
  position: relative;
  z-index: 1;
}

.shopify-payment-button__button--branded .shopify-cleanslate {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}


.shopify-cleanslate .IJV5fMPgFLuxqy8mKZL5 {
  display: none !important;
  color: inherit !important;
}

.shopify-cleanslate .IJV5fMPgFLuxqy8mKZL5 .PZIfssykeoTTzYDyIKZR {
  margin: 0 8px 0 8px !important;
  color: #9c83f8 !important;
}

.shopify-cleanslate .size--small .IJV5fMPgFLuxqy8mKZL5 {
  display: none !important;
}

.shopify-cleanslate .size--large .IJV5fMPgFLuxqy8mKZL5 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}.shopify-cleanslate .LEFFDXoKK0QvMVVxsKRS {
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: rgba(0,0,0,0.4) !important;
  bottom: 0 !important;
  font-size: 16px !important;
  height: 100% !important;
  left: 0 !important;
  line-height: 1.3em !important;
  overflow-wrap: break-word !important;
  position: fixed !important;
  top: 0 !important;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0.9, 0.3, 1) !important;
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.3, 1) !important;
  width: 100% !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
  z-index: 999999999999 !important;
  -webkit-transform: translateZ(999999999999px) !important;
  transform: translateZ(999999999999px) !important;
}

.shopify-cleanslate .jWT_kmcCOTNn2OC3R3tJ,
.shopify-cleanslate .fZH6eKUJE5ST_gHEyWqw,
.shopify-cleanslate .mjxJJetmwQ9H03XAGjOk {
  background: rgba(0,0,0,0) !important;
}

.shopify-cleanslate .fZITIzV8_ue8bUxgABDr,
.shopify-cleanslate .zdd6IT9vG9_W0ZBk6uSJ {
  background: rgba(0,0,0,0.4) !important;
} .ClKjKVFYnuJaiaiOxn5g {
  overflow: hidden !important;
  width: 100% !important;
  position: relative !important;
}

@media (min-width: 500px) {
   .ClKjKVFYnuJaiaiOxn5g {
    position: absolute !important;
  }
}

.shopify-cleanslate .w6s1MSakDMgQE4EIcVnI {
  -webkit-overflow-scrolling: touch !important;
  background-color: #fff !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  bottom: 0 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: #000017 !important;
  left: 0 !important;
  max-height: calc(100% - 20px) !important;
  outline: none !important;
  position: absolute !important;
  -webkit-transition: translateY,0.5s cubic-bezier(0.2, 0.9, 0.3, 1) !important;
  transition: translateY,0.5s cubic-bezier(0.2, 0.9, 0.3, 1) !important;
  width: 100% !important;
  z-index: 9999999 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .w6s1MSakDMgQE4EIcVnI {
    border-radius: 4px !important;
    bottom: auto !important;
    left: 50% !important;
    margin-left: -230px !important;
    max-height: calc(100vh - (20px * 2)) !important;
    max-width: 460px !important;
    top: 20px !important;
  }
}

.shopify-cleanslate .ukyrOFuXYGjb8Zzci6nA,
.shopify-cleanslate .xYeiW_gAa_ab9IfqkE0y,
.shopify-cleanslate .xW3aowfv1cdTRP4re6Ny {
  -webkit-transform: translateY(100%) !important;
  transform: translateY(100%) !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .ukyrOFuXYGjb8Zzci6nA,
  .shopify-cleanslate .xYeiW_gAa_ab9IfqkE0y,
  .shopify-cleanslate .xW3aowfv1cdTRP4re6Ny {
    -webkit-transform: translateY(-100%) !important;
    transform: translateY(-100%) !important;
    top: 0 !important;
  }
}

.shopify-cleanslate .w7w2vUlZgWM6KMUp13ct,
.shopify-cleanslate .a6Ahdzc9e6tpNq4LpTFW {
  -webkit-transform: translateY(0%) !important;
  transform: translateY(0%) !important;
}.shopify-cleanslate .R9tDu8JrE_i1ctOEo0v_ {
  position: absolute !important;
  top: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}.shopify-cleanslate .ElVMgDjOgshGFMIvg3se {
  display: inline-block !important;
  line-height: 0 !important;
}

.shopify-cleanslate .qZgSr5RiiBCTAMfQYsty {
  display: inline-block !important;
  max-width: 100% !important;
}

.shopify-cleanslate .L_4kfjrgUJIme2NaY9sr {
  -webkit-animation: uNTp63b4o9m3_VLe13Br linear 1s infinite !important;
  animation: uNTp63b4o9m3_VLe13Br linear 1s infinite !important;
}

@-webkit-keyframes uNTp63b4o9m3_VLe13Br {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uNTp63b4o9m3_VLe13Br {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}.shopify-cleanslate .w9Qwzo4OimiAclcZ7CHC {
  fill: #000017 !important;
}

.shopify-cleanslate .I7RnGxvojmnvQveuFz9O {
  fill: #d9d9d9 !important;
}

.shopify-cleanslate .wb749_dbiWj1Utdogxz8 {
  fill: #969696 !important;
}

.shopify-cleanslate .ew4umT9w0YT2gylj3K1Q {
  fill: #fff !important;
}

.shopify-cleanslate .hwDOxnNHVpl3dQR4wIIC {
  fill: #e7a321 !important;
}.shopify-cleanslate .LkUKdyYNd2MJG2F_EGwK {
  height: 16px !important;
  width: 16px !important;
}

.shopify-cleanslate .R0ctUoY27_DdpIpOwjI8 {
  height: 32px !important;
  width: 32px !important;
}.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ {
  -webkit-appearance: none !important;
  -webkit-font-smoothing: inherit !important;
  position: relative !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  background: #187bbd !important;
  border-radius: 4px !important;
  border: 0 none !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  text-align: center !important;
  font-weight: 500 !important;
  line-height: normal !important;
  color: #fff !important;
  -webkit-transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out !important;
  transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out !important;
  transition: background 0.2s ease-out, box-shadow 0.2s ease-out !important;
  transition: background 0.2s ease-out, box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out !important;
  vertical-align: middle !important;
  padding: 16px 24px !important;
  font-size: 16px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ {
    font-size: 14px !important;
  }
}

.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ,
.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ * {
  cursor: pointer !important;
}

.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ:active,
.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ:focus {
  -webkit-box-shadow: 0 0 0 4px rgba(25,144,198,0.25) !important;
  box-shadow: 0 0 0 4px rgba(25,144,198,0.25) !important;
}

.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ:hover,
.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ:active {
  background: #136f99 !important;
}

.shopify-cleanslate .sJflmvhNHZe_lcm8n9HJ[disabled] {
  background: #d9d9d9 !important;
  cursor: default !important;
}

.shopify-cleanslate .WwEY2txrjWeRYec5pzGa {
  background: transparent !important;
  line-height: 1.5 !important;
  border: 0 none !important;
  color: #187bbd !important;
  padding: 0 !important;
  font-weight: normal !important;
}

.shopify-cleanslate .WwEY2txrjWeRYec5pzGa:focus,
.shopify-cleanslate .WwEY2txrjWeRYec5pzGa:active {
  -webkit-box-shadow: 0 0 0 4px rgba(25,144,198,0.25) !important;
  box-shadow: 0 0 0 4px rgba(25,144,198,0.25) !important;
}

.shopify-cleanslate .WwEY2txrjWeRYec5pzGa:hover {
  color: #136f99 !important;
  background: transparent !important;
}

.shopify-cleanslate .WwEY2txrjWeRYec5pzGa[disabled] {
  color: #d9d9d9 !important;
}

.shopify-cleanslate .wMXFo2zMXI0rbcB3jGv_ {
  visibility: hidden !important;
}

.shopify-cleanslate .Za4FfXJQvJYVdjM_OgM_ {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.shopify-cleanslate .VQNjEX6_4oI5D2k_uKNk {
  width: 100% !important;
}.shopify-cleanslate .CO3vyl0MqNeZ1BIwhnpp {
  text-align: center !important;
}

.shopify-cleanslate .kvpW162ms5cKlxSZJChp {
  text-align: left !important;
}

.shopify-cleanslate .asFVs5jI4yBrqm7YuJH5 {
  text-align: right !important;
}.shopify-cleanslate .gSiVdJ2erv228ljpNdYw {
  margin: 0 !important;
  font-weight: 400 !important;
  line-height: 27px !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-size: 20px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .gSiVdJ2erv228ljpNdYw {
    font-size: 18px !important;
  }
}.shopify-cleanslate .Z_FNojxP75l5lOblrczK {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  border-bottom: solid 1px #e4e4e4 !important;
  padding: 16px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .Z_FNojxP75l5lOblrczK {
    padding: 12px 16px !important;
  }
}

.shopify-cleanslate .VvQCEnDXDqV21Z5EO7cF {
  width: 100% !important;
  text-align: center !important;
  padding-left: 24px !important;
}

.shopify-cleanslate .NGoeYJPqbe9RF_NrhNO6 {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 24px !important;
  flex: 0 0 24px !important;
  color: #969696 !important;
  text-align: center !important;
}.shopify-cleanslate .DDTm_SILu6DYBkxLn7JC {
  display: inline !important;
}.shopify-cleanslate .f0pPynu0OCjxD1NNHpxB {
  margin-top: 0 !important;
}

.shopify-cleanslate .B4Tourz_w2V4KbUnttgV {
  margin-top: 4px !important;
}

.shopify-cleanslate .fK3OCBT9T5iAoKC1IJwZ {
  margin-top: 8px !important;
}

.shopify-cleanslate .W_5CPVWVB2Il9NGZRVFV {
  margin-top: 12px !important;
}

.shopify-cleanslate .Y7b1mvsi7Gme1GnNpJsQ {
  margin-top: 16px !important;
}

.shopify-cleanslate .qAqmMcUGR5MhfTOJz3ir {
  margin-top: 20px !important;
}

.shopify-cleanslate .eaUmZPizVV0901gboavj {
  margin-top: 24px !important;
}.shopify-cleanslate .IKlzRqnsOuF8_l330LBc {
  margin-bottom: 0 !important;
}

.shopify-cleanslate .cC852JYKGcf8xEtU7WrS {
  margin-bottom: 4px !important;
}

.shopify-cleanslate .RrLQAgVQeCxllSxQUVZU {
  margin-bottom: 8px !important;
}

.shopify-cleanslate .ZUeVrAHpPgKeulVpjmAa {
  margin-bottom: 12px !important;
}

.shopify-cleanslate .EJooh6J6bEZO47pDXtUu {
  margin-bottom: 16px !important;
}

.shopify-cleanslate .fp9aAZ_SVNNJ6QVo5xKg {
  margin-bottom: 20px !important;
}

.shopify-cleanslate .Jlq9IbDT6wzW4xu3HkZR {
  margin-bottom: 24px !important;
}.shopify-cleanslate .Wdoq8fE7BnbgbuKFv95s {
  margin-left: 0 !important;
}

.shopify-cleanslate .DO9Fecp17tR3s8hbkMHZ {
  margin-left: 4px !important;
}

.shopify-cleanslate ._ydA33DIbiNhOlWT9aGM {
  margin-left: 8px !important;
}

.shopify-cleanslate .FpbaO6rhMjPPjqRVybLA {
  margin-left: 12px !important;
}

.shopify-cleanslate .Wbfh2S8SwDuq8QsZtTEP {
  margin-left: 16px !important;
}

.shopify-cleanslate .GN9o_miRL3ch1Hr5H7kV {
  margin-left: 20px !important;
}

.shopify-cleanslate .pmJoTd2h3J6a94g4OkFf {
  margin-left: 24px !important;
}.shopify-cleanslate .ipWHfz3HYAlPT60qIg7Q {
  margin-right: 0 !important;
}

.shopify-cleanslate .n_3_o0jYDCxrlkW0xviF {
  margin-right: 4px !important;
}

.shopify-cleanslate .O2Q5cYoA6lSYleqffZRK {
  margin-right: 8px !important;
}

.shopify-cleanslate .aCSR_6v2lMVpFULydMvA {
  margin-right: 12px !important;
}

.shopify-cleanslate ._aQnX8dHF1xCg_poDQw_ {
  margin-right: 16px !important;
}

.shopify-cleanslate .mWeaSIaNHoDnz0nc7b7p {
  margin-right: 20px !important;
}

.shopify-cleanslate .jDXB2p4ZudypGvlYOkxY {
  margin-right: 24px !important;
}.shopify-cleanslate .jY8IraEWusqfCW8Fq3yg {
  font-weight: 500 !important;
  color: #000017 !important;
}

.shopify-cleanslate .GbgDkvQbxy7QHgLF5df9 {
  font-weight: normal !important;
  color: #969696 !important;
  font-size: 14px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .GbgDkvQbxy7QHgLF5df9 {
    font-size: 12px !important;
  }
}

.shopify-cleanslate .T5ZNJSk_L5lrkoquqoze {
  color: #187bbd !important;
}

.shopify-cleanslate .Xrk_DudB6JJ3t2Kh2_cU {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}.shopify-cleanslate .eSD6uLOnWKn4m2wKnPT6 {
  text-align: center !important;
  font-weight: 300 !important;
  padding: 48px !important;
}

.shopify-cleanslate .QqbanoarakKDDaztcbo0 {
  height: 30px !important;
  margin: 24px auto 48px auto !important;
  width: 102px !important;
}

.shopify-cleanslate .KvgYIjoexP43hPNITIUj {
  -webkit-animation: wt0uqm0z2Q_AuYj744o4 cubic-bezier(0.25, 0.1, 0.25, 1) 2.5s infinite !important;
  animation: wt0uqm0z2Q_AuYj744o4 cubic-bezier(0.25, 0.1, 0.25, 1) 2.5s infinite !important;
  background: #49afea !important;
  opacity: 0.9 !important;
  border-radius: 8px !important;
  float: left !important;
  height: 100% !important;
  margin-right: 10px !important;
  width: 4px !important;
}

.shopify-cleanslate .KvgYIjoexP43hPNITIUj:first-child {
  -webkit-animation: tK0ZipREVjVYQGIhwyqu cubic-bezier(0.25, 0.1, 0.25, 1) 2.5s infinite !important;
  animation: tK0ZipREVjVYQGIhwyqu cubic-bezier(0.25, 0.1, 0.25, 1) 2.5s infinite !important;
  opacity: 0 !important;
}

.shopify-cleanslate .KvgYIjoexP43hPNITIUj:last-child {
  -webkit-animation: iVfgujw3XyulhmFydTVl ease-in 2.5s infinite !important;
  animation: iVfgujw3XyulhmFydTVl ease-in 2.5s infinite !important;
}

@-webkit-keyframes wt0uqm0z2Q_AuYj744o4 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}

@keyframes wt0uqm0z2Q_AuYj744o4 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}

@-webkit-keyframes tK0ZipREVjVYQGIhwyqu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}

@keyframes tK0ZipREVjVYQGIhwyqu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}

@-webkit-keyframes iVfgujw3XyulhmFydTVl {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    opacity: 0;
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }
}

@keyframes iVfgujw3XyulhmFydTVl {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  85% {
    opacity: 0;
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }
}.shopify-cleanslate .kunJ_bwJHBdhVTJtSekQ {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  padding: 24px !important;
  padding-bottom: 0 !important;
  margin-bottom: 24px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  color: #545454 !important;
  font-size: 16px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  overflow: auto !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .kunJ_bwJHBdhVTJtSekQ {
    font-size: 14px !important;
  }
}.shopify-cleanslate .N90IcxP2Dlqo7HBEkL0Q {
  background: transparent !important;
  border: 0 none !important;
  text-decoration: underline !important;
  padding: 0 !important;
  cursor: pointer !important;
  line-height: 16px !important;
}.shopify-cleanslate .ksHaFKZfkYVlKHY1TbUt {
  padding: 24px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  color: #545454 !important;
  font-size: 16px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .ksHaFKZfkYVlKHY1TbUt {
    font-size: 14px !important;
  }
}.shopify-cleanslate .ybSyad5RbtOghAuCHUvv {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  border: 0 !important;
  padding: 0 !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 100% !important;
  outline: 0 none !important;
  max-height: 54px !important;
}

.shopify-cleanslate .N6dorbBFEcKWcdsY1Dgk {
  position: relative !important;
}

.shopify-cleanslate .KHqjJyKjVNT1lCGf2bnQ,
.shopify-cleanslate .wOEViUrCyNb9maEe3QrQ {
  max-height: 54px !important;
}

@media (min-width: 750px) {
  .shopify-cleanslate .KHqjJyKjVNT1lCGf2bnQ {
    max-height: 42px !important;
    border-radius: 4px !important;
  }
}

.shopify-cleanslate .ucYbrgi9nVBRx_QDKIwM {
  max-height: 55px !important;
  width: 100% !important;
}

@media (min-width: 750px) {
  .shopify-cleanslate .ucYbrgi9nVBRx_QDKIwM {
    width: 160px !important;
  }
}.shopify-cleanslate .Gp7WMzF2pc69IRr9yPXD {
  background: transparent !important;
}

.shopify-cleanslate .K0e2fg1oT3h6FpjYlL5m {
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.shopify-cleanslate .K0e2fg1oT3h6FpjYlL5m:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #ebebeb !important;
  border-color: #ebebeb !important;
}

.shopify-cleanslate .MMkDzHILWhgVTH11kqqo {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.shopify-cleanslate .MMkDzHILWhgVTH11kqqo:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #000 !important;
  border-color: #000 !important;
}

.shopify-cleanslate .X7BUDcb2xSdf8lsQafmS {
  background: #ffc520 !important;
  border-color: #ffc520 !important;
  color: #253b80 !important;
}

.shopify-cleanslate .X7BUDcb2xSdf8lsQafmS:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #f6b600 !important;
  border-color: #f6b600 !important;
}

.shopify-cleanslate .beR_IRWWHmzzPFJUoa9p {
  background: #ffc520 !important;
  border-color: #ffc520 !important;
  color: #253b80 !important;
}

.shopify-cleanslate .beR_IRWWHmzzPFJUoa9p:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #f6b600 !important;
  border-color: #f6b600 !important;
}

.shopify-cleanslate .gEHhIg_rFT5m29hVufkg {
  background: #5a31f4 !important;
  border-color: #5a31f4 !important;
  color: #fff !important;
}

.shopify-cleanslate .gEHhIg_rFT5m29hVufkg:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #3c0def !important;
  border-color: #3c0def !important;
}

.shopify-cleanslate .DnvZqPMEvBFbBre5UuP9 {
  background: #5a31f4 !important;
  border-color: #5a31f4 !important;
  color: #fff !important;
}

.shopify-cleanslate .DnvZqPMEvBFbBre5UuP9:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #3c0def !important;
  border-color: #3c0def !important;
}

.shopify-cleanslate .DYb3BerKPu65X0EKR7Ql {
  background: #fad676 !important;
  border-color: #fad676 !important;
  color: #333e48 !important;
}

.shopify-cleanslate .DYb3BerKPu65X0EKR7Ql:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #f9ca4f !important;
  border-color: #f9ca4f !important;
}

.shopify-cleanslate .cYVH7FBl1ZchXEbTxNla {
  background: #fad676 !important;
  border-color: #fad676 !important;
  color: #333e48 !important;
}

.shopify-cleanslate .cYVH7FBl1ZchXEbTxNla:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #f9ca4f !important;
  border-color: #f9ca4f !important;
}

.shopify-cleanslate .hzzxDWW_G8mHNo2gXwAp {
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.shopify-cleanslate .hzzxDWW_G8mHNo2gXwAp:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #ebebeb !important;
  border-color: #ebebeb !important;
}

.shopify-cleanslate .vKjZTx5He86dhWbWaFxE {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.shopify-cleanslate .vKjZTx5He86dhWbWaFxE:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #000 !important;
  border-color: #000 !important;
}

.shopify-cleanslate .Rrw35sdPt6FBk_x3pbzh {
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.shopify-cleanslate .Rrw35sdPt6FBk_x3pbzh:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #ebebeb !important;
  border-color: #ebebeb !important;
}

.shopify-cleanslate .A0DbISrgWtxvKmVU8VFA {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.shopify-cleanslate .A0DbISrgWtxvKmVU8VFA:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: #000 !important;
  border-color: #000 !important;
}

.shopify-cleanslate .Ho6mXJXwQgY_wL8w0_9_,
.shopify-cleanslate .RWJ0IfBjxIhflh4AIrUw {
  -webkit-transition-duration: 100ms !important;
  transition-duration: 100ms !important;
  background: white !important;
  border-width: 1px !important;
  border-color: #187bbd !important;
  color: #187bbd !important;
}

.shopify-cleanslate .Ho6mXJXwQgY_wL8w0_9_:hover:not(.LVeInvZ5HcNOW1Zsn7NH),
.shopify-cleanslate .RWJ0IfBjxIhflh4AIrUw:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
  background: rgba(24,123,189,0.1) !important;
}

.shopify-cleanslate .BrUulZY1_CeWn4bGNgCe:hover {
  opacity: 0.8 !important;
}

.shopify-cleanslate .cYVH7FBl1ZchXEbTxNla svg,
.shopify-cleanslate .DYb3BerKPu65X0EKR7Ql svg {
  position: relative !important;
  top: 4px !important;
}

.shopify-cleanslate .beR_IRWWHmzzPFJUoa9p svg,
.shopify-cleanslate .X7BUDcb2xSdf8lsQafmS svg {
  position: relative !important;
  top: 1px !important;
}

.shopify-cleanslate .LVeInvZ5HcNOW1Zsn7NH {
  opacity: 0.5 !important;
}

.shopify-cleanslate .LVeInvZ5HcNOW1Zsn7NH,
.shopify-cleanslate .LVeInvZ5HcNOW1Zsn7NH * {
  cursor: default !important;
  pointer-events: none !important;
}

.shopify-cleanslate .LVeInvZ5HcNOW1Zsn7NH:active,
.shopify-cleanslate .LVeInvZ5HcNOW1Zsn7NH:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}.shopify-cleanslate .kqsiVA9Jf8LJAbxw8Bau {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  border-width: 1px !important;
  border-style: solid !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  padding: 0 !important;
  text-align: center !important;
  -webkit-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important;
  width: 100% !important;
  font-size: 16px !important;
}

@media (min-width: 500px) {
  .shopify-cleanslate .kqsiVA9Jf8LJAbxw8Bau {
    font-size: 14px !important;
  }
}

.shopify-cleanslate .kqsiVA9Jf8LJAbxw8Bau,
.shopify-cleanslate .kqsiVA9Jf8LJAbxw8Bau * {
  cursor: pointer !important;
}

.shopify-cleanslate .GBRfGcHCIO5Fx7lQoG3r {
  border-radius: 4px !important;
  padding: 15px 0 !important;
  height: 52px !important;
}

.shopify-cleanslate .jjzYeefyWpPZLH9pIgyw {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  padding: 4px !important;
  min-height: 44px !important;
  max-height: 60px !important;
}

.shopify-cleanslate .IcgSIE7pEVZrlnAeRS6j,
.shopify-cleanslate .DefhEHZZf4y32pvV7mZj {
  border-radius: 4px !important;
  width: 100% !important;
  height: 54px !important;
}

@media (min-width: 750px) {
  .shopify-cleanslate .IcgSIE7pEVZrlnAeRS6j {
    height: 42px !important;
  }
}

.shopify-cleanslate ._zi3yMidTBsFIz271PCH {
  height: 50px !important;
  border: 1px solid transparent !important;
  border-radius: 5px !important;
}

@media (min-width: 750px) {
  .shopify-cleanslate ._zi3yMidTBsFIz271PCH {
    min-width: 160px !important;
  }
}

.shopify-cleanslate ._zi3yMidTBsFIz271PCH span {
  white-space: pre !important;
}

.shopify-cleanslate .h7OYsWHrW5495r9beh2n {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.shopify-cleanslate .h7OYsWHrW5495r9beh2n span {
  white-space: pre !important;
} .BUz42FHpSPncCPJ4Pr_f {
  -webkit-animation: wsgbk6XdVclpkaXZKFPJ 300ms cubic-bezier(0.1, 0.79, 1, 1);
  animation: wsgbk6XdVclpkaXZKFPJ 300ms cubic-bezier(0.1, 0.79, 1, 1);
}

@-webkit-keyframes wsgbk6XdVclpkaXZKFPJ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wsgbk6XdVclpkaXZKFPJ {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}