.section-template--22795098587472__cart-footer-padding {
    padding-top: 15px;
    padding-bottom: 30px;
}

@media screen and (min-width: 750px) {
    .section-template--22795098587472__cart-footer-padding {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}



.paypal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC439;
    padding: 10px;
    border-radius: 5px;
}

.paypal-image {
    max-height: 25px; 
    margin: 0 5px; 
}