.section-template--22795099013456__main-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--22795099013456__main-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }