

.section-template--22795098653008__featured_collection-padding {
    padding-top: 33px;
    padding-bottom: 27px;
}


@media screen and (min-width: 750px) {
    .section-template--22795098653008__featured_collection-padding {
        padding-top: 44px;
        padding-bottom: 36px;
    }
}




